# Regression Problem - Determine Z-score

In [66]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
from sklearn.ensemble import VotingClassifier
import matplotlib as plt
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error as MSE
import sklearn.model_selection as cv
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import mean_squared_error as MSE
from imblearn.over_sampling import SMOTE

In [2]:
data=pd.read_csv("final_merged_data.csv")

In [3]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [4]:
data.drop(['For Year'],axis=1,inplace=True)

In [5]:
data.head()

,symbol,date,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,...,Estimated Shares Outstanding,open,close,low,high,volume,GICS Sector,GICS Sub Industry,PE,trend
0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,1.330000e+09,...,3.350000e+08,12.850000,13.500000,12.840000,13.680000,7005600.0,5,4,-2.410714,0.0
1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,2.175000e+09,...,1.630222e+08,24.740000,25.250000,24.629999,25.250000,7166600.0,5,4,-2.244444,0.0
2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,1.768000e+09,...,7.169154e+08,53.900002,53.630001,53.320000,54.639999,10626000.0,5,4,13.340796,1.0
3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,1.085000e+09,...,6.681299e+08,42.540001,42.349998,41.830002,42.570000,6788900.0,5,4,3.718174,1.0
4,ABBV,2013-12-31,6.448000e+09,681000000.0,-5.400000e+07,92.0,-4.910000e+08,3.671000e+09,144.0,9.595000e+09,...,1.600000e+09,52.990002,52.810001,52.360001,53.060001,3019700.0,4,87,20.468993,1.0

#### calculating Altman's score:
Z-Score =  1.2(A) + 1.4(B) + 3.3(C) + 0.6(D) + 1.0(E)

Here is the link:https://www.investopedia.com/terms/a/altman.asp

In [6]:
first=1.2*((data['Total Current Assets']-data['Total Current Liabilities'])/data['Total Assets'])

In [7]:
second=1.4*((data['Retained Earnings'])/data['Total Assets'])

In [8]:
third=3.3*((data['Earnings Before Interest and Tax']/data['Total Assets']))

In [9]:
fourth=0.6*((data['Estimated Shares Outstanding']*data['close'])/data['Total Liabilities'])

In [10]:
fifth = 1*((data['Total Revenue'])/data['Total Assets'])

In [11]:
z_score=first+second+third+fourth+fifth

In [12]:
data['z_score']=z_score

In [13]:
data.drop(['trend'],axis=1,inplace=True)

In [14]:
data.head(10)

,symbol,date,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,...,Estimated Shares Outstanding,open,close,low,high,volume,GICS Sector,GICS Sub Industry,PE,z_score
0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,1.330000e+09,...,3.350000e+08,12.850000,13.500000,12.840000,13.680000,7005600.0,5,4,-2.410714,0.249317
1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,2.175000e+09,...,1.630222e+08,24.740000,25.250000,24.629999,25.250000,7166600.0,5,4,-2.244444,0.224697
2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,1.768000e+09,...,7.169154e+08,53.900002,53.630001,53.320000,54.639999,10626000.0,5,4,13.340796,1.536275
3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,1.085000e+09,...,6.681299e+08,42.540001,42.349998,41.830002,42.570000,6788900.0,5,4,3.718174,1.492806
4,ABBV,2013-12-31,6.448000e+09,6.810000e+08,-5.400000e+07,92.0,-4.910000e+08,3.671000e+09,144.0,9.595000e+09,...,1.600000e+09,52.990002,52.810001,52.360001,53.060001,3019700.0,4,87,20.468993,3.855570
5,ABBV,2014-12-31,6.954000e+09,-1.720000e+08,-6.510000e+08,102.0,-6.120000e+08,4.194000e+09,74.0,8.348000e+09,...,1.598198e+09,66.720001,65.440002,65.349998,67.099998,3917300.0,4,87,58.954957,3.723185
6,ABBV,2015-12-31,8.463000e+09,-1.076000e+09,-2.060000e+08,130.0,-5.320000e+08,1.308000e+10,77.0,8.399000e+09,...,1.633016e+09,59.500000,59.240002,59.200001,59.930000,6019300.0,4,87,18.806350,2.250887
7,ABC,2013-09-30,1.487064e+10,-2.312518e+09,-4.400000e+04,19.0,-2.024500e+08,2.360992e+09,8.0,1.231006e+09,...,2.306952e+08,60.900002,61.099998,60.689999,61.270000,1040200.0,4,44,32.499999,5.396919
8,ABC,2014-09-30,1.725016e+10,-9.382860e+08,-2.859400e+07,14.0,-2.644570e+08,2.749185e+09,10.0,1.808513e+09,...,2.247787e+08,77.650002,77.300003,77.190002,78.019997,1373500.0,4,44,63.360658,6.278125
9,ABC,2015-09-30,2.157823e+10,-1.478793e+09,-4.422000e+07,22.0,-2.315850e+08,3.736477e+09,10.0,2.167442e+09,...,2.228468e+08,96.080002,94.989998,94.070000,96.680000,2381200.0,4,44,-153.209674,5.376186

### Run Random Forest

In [15]:
x=data.iloc[:,2:84]
y=data.z_score

In [16]:
SEED=1
from sklearn.model_selection import train_test_split
(x_train, x_test, y_train, y_test) = cv.train_test_split(x, y, test_size=.25)

In [17]:
# Basic imports
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
# Set seed for reproducibility
SEED = 1

rf = RandomForestRegressor(n_estimators=500,
min_samples_leaf=10,
random_state=SEED)
# Fit 'rf' to the training set
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)
y_pred_train=rf.predict(x_train)

rmse_test = MSE(y_test, y_pred)**(1/2)

print('Test set RMSE of rf: {:.2f}'.format(rmse_test))


# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(rf, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(RMSE_CV))

rmse_train = MSE(y_train, y_pred_train)**(1/2)
# Print the test set RMSE

print('Train set RMSE of rf: {:.2f}'.format(rmse_train))

Test set RMSE of rf: 2.26
CV RMSE: 2.20
Train set RMSE of rf: 1.70

In [18]:
2.20-1.70

0.5000000000000002

### Model is Overfitting(CV RMSE>TRAIN RMSE) - generate more data and adjust complexity to reduce the overfitness

## Generate More Training Data using KDE

In [19]:
train_data=x_train.copy()

In [20]:
train_data['z_score']=y_train

In [21]:
from sklearn.neighbors import KernelDensity
#data_k.drop(['symbol', 'date'],axis=1,inplace=True)

In [22]:
kde = KernelDensity(kernel='gaussian')
kde.fit(train_data)
new_data = kde.sample(500, random_state=0)
new_data=pd.DataFrame(new_data, columns=train_data.columns)
data_app=train_data.append(new_data,ignore_index=True)

In [23]:
x_train=data_app.iloc[:,0:82]
y_train=data_app.z_score

### Now that we have more training data - Try Running Random Forest by adjusting complexity.

In [24]:
# Basic imports
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
# Set seed for reproducibility
SEED = 1

rf = RandomForestRegressor(n_estimators=500,
min_samples_leaf=10,
random_state=SEED)
# Fit 'rf' to the training set
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)
y_pred_train=rf.predict(x_train)

rmse_test = MSE(y_test, y_pred)**(1/2)

print('Test set RMSE of rf: {:.2f}'.format(rmse_test))


# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(rf, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(RMSE_CV))

rmse_train = MSE(y_train, y_pred_train)**(1/2)
# Print the test set RMSE

print('Train set RMSE of rf: {:.2f}'.format(rmse_train))

Test set RMSE of rf: 2.29
CV RMSE: 1.88
Train set RMSE of rf: 1.43

In [25]:
1.88-1.43

0.44999999999999996

### Just by adding more data, overfitting has reduced a little. Lets try to adjust complexity now(decrease complexity)

In [26]:
# Basic imports
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
# Set seed for reproducibility
SEED = 1

rf = RandomForestRegressor(n_estimators=500,
min_samples_leaf=20,
random_state=SEED)
# Fit 'rf' to the training set
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)
y_pred_train=rf.predict(x_train)

rmse_test = MSE(y_test, y_pred)**(1/2)

print('Test set RMSE of rf: {:.2f}'.format(rmse_test))


# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(rf, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


rf_RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(rf_RMSE_CV))

rmse_train = MSE(y_train, y_pred_train)**(1/2)
# Print the test set RMSE

print('Train set RMSE of rf: {:.2f}'.format(rmse_train))

Test set RMSE of rf: 2.39
CV RMSE: 2.21
Train set RMSE of rf: 1.93

In [27]:
2.21-1.93

0.28

In [28]:
# Basic imports
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
# Set seed for reproducibility
SEED = 1

rf = RandomForestRegressor(n_estimators=300,
min_samples_leaf=30,
random_state=SEED)
# Fit 'rf' to the training set
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)
y_pred_train=rf.predict(x_train)

rmse_test = MSE(y_test, y_pred)**(1/2)

print('Test set RMSE of rf: {:.2f}'.format(rmse_test))


# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(rf, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


rf_RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(rf_RMSE_CV))

rmse_train = MSE(y_train, y_pred_train)**(1/2)
# Print the test set RMSE

print('Train set RMSE of rf: {:.2f}'.format(rmse_train))

Test set RMSE of rf: 2.52
CV RMSE: 2.42
Train set RMSE of rf: 2.20

In [29]:
2.42-2.2

0.21999999999999975

In [30]:
# Basic imports
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
# Set seed for reproducibility
SEED = 1

rf = RandomForestRegressor(n_estimators=200,
min_samples_leaf=25,
random_state=SEED)
# Fit 'rf' to the training set
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)
y_pred_train=rf.predict(x_train)

rmse_test = MSE(y_test, y_pred)**(1/2)

print('Test set RMSE of rf: {:.2f}'.format(rmse_test))


# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(rf, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


rf_RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(rf_RMSE_CV))

rmse_train = MSE(y_train, y_pred_train)**(1/2)
# Print the test set RMSE

print('Train set RMSE of rf: {:.2f}'.format(rmse_train))

Test set RMSE of rf: 2.47
CV RMSE: 2.32
Train set RMSE of rf: 2.06

In [31]:
2.32-2.06

0.2599999999999998

In [32]:
# Basic imports
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
# Set seed for reproducibility
SEED = 1


rf = RandomForestRegressor(n_estimators=200,
min_samples_leaf=30,
random_state=SEED)
# Fit 'rf' to the training set
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)
y_pred_train=rf.predict(x_train)

rmse_test = MSE(y_test, y_pred)**(1/2)

print('Test set RMSE of rf: {:.2f}'.format(rmse_test))


# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(rf, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


rf_RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(rf_RMSE_CV))

rmse_train = MSE(y_train, y_pred_train)**(1/2)
# Print the test set RMSE

print('Train set RMSE of rf: {:.2f}'.format(rmse_train))

Test set RMSE of rf: 2.54
CV RMSE: 2.42
Train set RMSE of rf: 2.18

In [33]:
2.42-2.18

0.23999999999999977

### Decision Tree Regressor

In [34]:
# Instantiate dt
dt = DecisionTreeRegressor(max_depth=5,min_samples_leaf=25,random_state=1)

# Fit dt to the training set
dt.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=25,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [35]:
from sklearn.metrics import mean_squared_error as MSE

# Compute y_pred
y_pred = dt.predict(x_test)

# Compute mse_dt
mse_dt = MSE(y_test, y_pred)

# Compute rmse_dt
rmse_dt = mse_dt**(1/2)

# Print rmse_dt
print("Test set RMSE of dt: {:.2f}".format(rmse_dt))

from sklearn.model_selection import cross_val_score
# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(dt, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


dt_RMSE_CV = (MSE_CV_scores.mean())**(1/2)

print('CV RMSE: {:.2f}'.format(dt_RMSE_CV))

# Import mean_squared_error from sklearn.metrics as MSE
from sklearn.metrics import mean_squared_error as MSE

# Fit dt to the training set
dt.fit(x_train, y_train)

# Predict the labels of the training set
y_pred_train = dt.predict(x_train)

# Evaluate the training set RMSE of dt
RMSE_train = (MSE(y_train, y_pred_train))**(1/2)

# Print RMSE_train
print('Train RMSE: {:.2f}'.format(RMSE_train))

Test set RMSE of dt: 3.18
CV RMSE: 2.62
Train RMSE: 2.22

### Linear Regression

In [36]:
lr = LinearRegression()
lr.fit(x_train, y_train)

from sklearn.metrics import mean_squared_error as MSE

y_pred = lr.predict(x_test)


mse_lr = MSE(y_test, y_pred)


rmse_lr = mse_lr**(1/2)


print("Test set RMSE of lr: {:.2f}".format(rmse_lr))

from sklearn.model_selection import cross_val_score
MSE_CV_scores = - cross_val_score(lr, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 
lr_RMSE_CV = (MSE_CV_scores.mean())**(1/2)
print('CV RMSE: {:.2f}'.format(lr_RMSE_CV))

# Import mean_squared_error from sklearn.metrics as MSE
from sklearn.metrics import mean_squared_error as MSE
y_pred_train = lr.predict(x_train)
RMSE_train = (MSE(y_train, y_pred_train))**(1/2)
print('Train RMSE: {:.2f}'.format(RMSE_train))

Test set RMSE of lr: 3.26
CV RMSE: 3.35
Train RMSE: 2.56

In [ ]:
rf_RMSE_CV

In [37]:
models = pd.DataFrame({
    'Model': ['Random Forest','Decision Tree','Linear Regression'],
    
    'CV error': [rf_RMSE_CV,dt_RMSE_CV,lr_RMSE_CV]
    })

models.sort_values(by='CV error')

               Model  CV error
0      Random Forest  2.419528
1      Decision Tree  2.619352
2  Linear Regression  3.346051

## Generate more Training data using  SMOTE

In [38]:
data.head()

,symbol,date,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,...,Estimated Shares Outstanding,open,close,low,high,volume,GICS Sector,GICS Sub Industry,PE,z_score
0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,1.330000e+09,...,3.350000e+08,12.850000,13.500000,12.840000,13.680000,7005600.0,5,4,-2.410714,0.249317
1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,2.175000e+09,...,1.630222e+08,24.740000,25.250000,24.629999,25.250000,7166600.0,5,4,-2.244444,0.224697
2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,1.768000e+09,...,7.169154e+08,53.900002,53.630001,53.320000,54.639999,10626000.0,5,4,13.340796,1.536275
3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,1.085000e+09,...,6.681299e+08,42.540001,42.349998,41.830002,42.570000,6788900.0,5,4,3.718174,1.492806
4,ABBV,2013-12-31,6.448000e+09,681000000.0,-5.400000e+07,92.0,-4.910000e+08,3.671000e+09,144.0,9.595000e+09,...,1.600000e+09,52.990002,52.810001,52.360001,53.060001,3019700.0,4,87,20.468993,3.855570

In [39]:
x=data.iloc[:,2:84]
y=data.z_score

In [40]:
SEED=1
from sklearn.model_selection import train_test_split
(x_train, x_test, y_train, y_test) = cv.train_test_split(x, y, test_size=.25)

In [41]:
train_data1=x_train.copy()
train_data1['z_score']=y_train

In [42]:
train_data1[train_data1['z_score']<=1.8].shape

(400, 83)

In [43]:
train_data1[(train_data1['z_score']>1.8) & (train_data1['z_score']<=3.0)].shape

(205, 83)

In [44]:
train_data1[train_data1['z_score']>3].shape

(412, 83)

In [100]:
print(400/1017)
print(205/1017)
print(412/1017)

0.38839724680432647
0.20747295968534907
0.40412979351032446

Manually classify events that are rare in the dataset as class 1(in this case, z_score between 1.8 and 3).

In [45]:
train_data1['class']=np.where((train_data1['z_score']>1.8) & (train_data1['z_score']<=3.0),1,0)

In [46]:
from imblearn.over_sampling import SMOTE

In [47]:
sm = SMOTE(random_state=12, ratio = 1.0)

In [48]:
train_data1.shape

(1017, 84)

In [49]:
train_data1.head()

,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,Changes in Inventories,Common Stocks,...,open,close,low,high,volume,GICS Sector,GICS Sub Industry,PE,z_score,class
345,3.246000e+09,0.0,0.0,21.0,-145000000.0,3.790000e+09,69.796313,1.123300e+10,0.0,5000000.0,...,66.449997,65.489998,65.459999,66.610001,1482200.0,3,24,13.338085,0.734268,0
677,7.285000e+08,139100000.0,-16600000.0,3.0,-347700000.0,9.905700e+09,200.000000,2.407800e+09,0.0,0.0,...,19.420000,19.670000,19.209999,19.780001,7807400.0,6,78,54.638889,2.551277,1
1261,2.808700e+08,7428000.0,30400000.0,69.0,-51201000.0,5.777154e+09,379.000000,6.336770e+08,-16469000.0,2385000.0,...,119.610001,118.800003,118.500000,121.959999,946300.0,4,13,-37.834396,10.406381,0
765,2.274390e+08,0.0,40707000.0,5.0,-379962000.0,3.619270e+09,60.371462,5.483400e+07,0.0,752000.0,...,76.239998,74.680000,74.610001,76.650002,264700.0,8,95,37.908629,1.031081,0
869,0.000000e+00,175000000.0,0.0,25.0,0.0,2.967000e+09,69.796313,2.095000e+09,0.0,4000000.0,...,11.300000,11.450000,11.230000,11.590000,2631800.0,3,24,4.304511,0.174830,0

In [50]:
x_train=train_data1.iloc[:,0:83]
y_train=train_data1['class']

In [52]:
x_train_new, y_train_new = sm.fit_sample(x_train, y_train)

In [53]:
col_name=['Accounts Payable', 'Accounts Receivable', "'Add'l income/expense items'",
       'After Tax ROE', 'Capital Expenditures', 'Capital Surplus',
       'Cash Ratio', 'Cash and Cash Equivalents', 'Changes in Inventories',
       'Common Stocks', 'Cost of Revenue', 'Current Ratio',
       'Deferred Asset Charges', 'Deferred Liability Charges', 'Depreciation',
       'Earnings Before Interest and Tax', 'Earnings Before Tax',
       'Effect of Exchange Rate', 'Fixed Assets', 'Goodwill', 'Gross Margin',
       'Gross Profit', 'Income Tax', 'Intangible Assets', 'Interest Expense',
       'Inventory', 'Investments', 'Liabilities', 'Long-Term Debt',
       'Long-Term Investments', 'Minority Interest', 'Misc. Stocks',
       'Net Borrowings', 'Net Cash Flow', 'Net Cash Flow-Operating',
       'Net Cash Flows-Financing', 'Net Cash Flows-Investing', 'Net Income',
       'Net Income Adjustments',
       'Net Income Applicable to Common Shareholders',
       'Net Income-Cont. Operations', 'Net Receivables', 'Non-Recurring Items',
       'Operating Income', 'Operating Margin', 'Other Assets',
       'Other Current Assets', 'Other Current Liabilities', 'Other Equity',
       'Other Financing Activities', 'Other Investing Activities',
       'Other Liabilities', 'Other Operating Activities',
       'Other Operating Items', 'Pre-Tax Margin', 'Pre-Tax ROE',
       'Profit Margin', 'Quick Ratio', 'Research and Development',
       'Retained Earnings', 'Sale and Purchase of Stock',
       'Sales, General and Admin.',
       'Short-Term Debt / Current Portion of Long-Term Debt',
       'Short-Term Investments', 'Total Assets', 'Total Current Assets',
       'Total Current Liabilities', 'Total Equity', 'Total Liabilities',
       'Total Liabilities & Equity', 'Total Revenue', 'Treasury Stock',
       'Earnings Per Share', 'Estimated Shares Outstanding', 'open', 'close',
       'low', 'high', 'volume', 'GICS Sector', 'GICS Sub Industry', 'PE',
       'z_score']

In [54]:
 new_train=pd.DataFrame(x_train_new, columns=col_name)

In [55]:
new_train.shape

(1624, 83)

In [56]:
x_train=new_train.iloc[:,0:82]
y_train=new_train.z_score

In [57]:
# Basic imports
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
# Set seed for reproducibility
SEED = 1

rf = RandomForestRegressor(n_estimators=500,
min_samples_leaf=10,
random_state=SEED)
# Fit 'rf' to the training set
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)
y_pred_train=rf.predict(x_train)

rmse_test = MSE(y_test, y_pred)**(1/2)

print('Test set RMSE of rf: {:.2f}'.format(rmse_test))


# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(rf, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(RMSE_CV))

rmse_train = MSE(y_train, y_pred_train)**(1/2)
# Print the test set RMSE

print('Train set RMSE of rf: {:.2f}'.format(rmse_train))

Test set RMSE of rf: 2.47
CV RMSE: 1.93
Train set RMSE of rf: 1.49

In [58]:
1.93-1.49

0.43999999999999995

### Lets try adjusting the complexity now

In [59]:
# Basic imports
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
# Set seed for reproducibility
SEED = 1


rf = RandomForestRegressor(n_estimators=300,
min_samples_leaf=30,
random_state=SEED)
# Fit 'rf' to the training set
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)
y_pred_train=rf.predict(x_train)

rmse_test = MSE(y_test, y_pred)**(1/2)

print('Test set RMSE of rf: {:.2f}'.format(rmse_test))


# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(rf, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


rf_RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(rf_RMSE_CV))

rmse_train = MSE(y_train, y_pred_train)**(1/2)
# Print the test set RMSE

print('Train set RMSE of rf: {:.2f}'.format(rmse_train))

Test set RMSE of rf: 2.79
CV RMSE: 2.22
Train set RMSE of rf: 2.02

In [60]:
2.22-2.02

0.20000000000000018

In [61]:
# Basic imports
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
# Set seed for reproducibility
SEED = 1


rf = RandomForestRegressor(n_estimators=300,
min_samples_leaf=35,
random_state=SEED)
# Fit 'rf' to the training set
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)
y_pred_train=rf.predict(x_train)

rmse_test = MSE(y_test, y_pred)**(1/2)

print('Test set RMSE of rf: {:.2f}'.format(rmse_test))


# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(rf, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


rf_RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(rf_RMSE_CV))

rmse_train = MSE(y_train, y_pred_train)**(1/2)
# Print the test set RMSE

print('Train set RMSE of rf: {:.2f}'.format(rmse_train))

Test set RMSE of rf: 2.82
CV RMSE: 2.26
Train set RMSE of rf: 2.09

In [62]:
2.26-2.09

0.16999999999999993

### Decision Tree Regressor

In [63]:
# Instantiate dt
dt = DecisionTreeRegressor(max_depth=5,min_samples_leaf=25,random_state=1)

# Fit dt to the training set
dt.fit(x_train, y_train)


# Compute y_pred
y_pred = dt.predict(x_test)

# Compute mse_dt
mse_dt = MSE(y_test, y_pred)

# Compute rmse_dt
rmse_dt = mse_dt**(1/2)

# Print rmse_dt
print("Test set RMSE of dt: {:.2f}".format(rmse_dt))

from sklearn.model_selection import cross_val_score
# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(dt, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 


dt_RMSE_CV = (MSE_CV_scores.mean())**(1/2)

print('CV RMSE: {:.2f}'.format(dt_RMSE_CV))



# Fit dt to the training set
dt.fit(x_train, y_train)

# Predict the labels of the training set
y_pred_train = dt.predict(x_train)

# Evaluate the training set RMSE of dt
RMSE_train = (MSE(y_train, y_pred_train))**(1/2)

# Print RMSE_train
print('Train RMSE: {:.2f}'.format(RMSE_train))

Test set RMSE of dt: 3.01
CV RMSE: 2.39
Train RMSE: 2.16

### Linear Regression

In [64]:
lr = LinearRegression()
lr.fit(x_train, y_train)

from sklearn.metrics import mean_squared_error as MSE

y_pred = lr.predict(x_test)


mse_lr = MSE(y_test, y_pred)


rmse_lr = mse_lr**(1/2)


print("Test set RMSE of lr: {:.2f}".format(rmse_lr))

from sklearn.model_selection import cross_val_score
MSE_CV_scores = - cross_val_score(lr, x_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 
lr_RMSE_CV = (MSE_CV_scores.mean())**(1/2)
print('CV RMSE: {:.2f}'.format(lr_RMSE_CV))

# Import mean_squared_error from sklearn.metrics as MSE
from sklearn.metrics import mean_squared_error as MSE
y_pred_train = lr.predict(x_train)
RMSE_train = (MSE(y_train, y_pred_train))**(1/2)
print('Train RMSE: {:.2f}'.format(RMSE_train))

Test set RMSE of lr: 3.04
CV RMSE: 2.82
Train RMSE: 2.21

In [65]:
models = pd.DataFrame({
    'Model': ['Random Forest','Decision Tree','Linear Regression'],
    
    'CV error': [rf_RMSE_CV,dt_RMSE_CV,lr_RMSE_CV]
    })

models.sort_values(by='CV error')

               Model  CV error
0      Random Forest  2.255731
1      Decision Tree  2.389432
2  Linear Regression  2.820268

### Models work well when data is generated using SMOTE. Although we were not able to completely eliminate the overfitting problem, the difference between CV RMSE and Train RMSE reduced after more training data was generated. We are going to select Random Forest for the final model since the CV error is the lowest