In [2]:
import pandas as pd

In [6]:
df1 = pd.read_csv("prices-split-adjusted.csv",header = 0)

In [8]:
df1.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [10]:
#df1.symbol

In [15]:
def find_counts(x):
    columns = []
    for col_names in x.columns:
        y = col_names, len(x[col_names].unique())
        columns.append(y)
    return dict(columns)
find_counts(df1)

{'date': 1762,
 'symbol': 501,
 'open': 97522,
 'close': 98520,
 'low': 97470,
 'high': 97784,
 'volume': 171073}

In [18]:
#df1.head

def find_counts2(x):
    rows = []
    for row_names in x.rows:
        y = row_names, len(x[row_names].unique())
        rows.append(y)
    return dict(rows)
find_counts2(df1)

In [27]:
symbol_list = list(df1.symbol)
c = dict()
for i in set(symbol_list):
    c[i] = symbol_list.count(i)

print(c[i])

1762